<div class="page-center auth-page-bg">
  <div class="auth-card">
    
    <div class="auth-top-links">
      <a routerLink="/" class="text-link">← Back to Home</a>
    </div>

    <h2>Login</h2>
    <p class="auth-subtitle">Access your ShopEZ account</p>

   
    <form (ngSubmit)="login()" #loginForm="ngForm">

      <div class="form-group">
        <label class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          [(ngModel)]="form.username"
          placeholder="Enter username"
          required
          autocomplete="username"
        />
        <div class="error-text" *ngIf="submitted && !form.username">
          Username is required
        </div>
      </div>

    
      <div class="form-group">
        <label class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="form.password"
          placeholder="Enter password"
          required
          autocomplete="current-password"
        />
        
        <div class="error-text" *ngIf="submitted && !form.password">
          Password is required
        </div>
      </div>
      <div class="text-right mb-2">
        <a routerLink="/forgot-password" class="text-link" style="cursor:pointer; font-size: 0.9rem;">Forgot Password?</a>
      </div>

      <!-- BUTTON -->
      <button
        type="submit"
        class="btn btn-primary full-btn"
        [disabled]="loading"
      >
        {{ loading ? 'Signing in...' : 'Login' }}
      </button>

    </form>
    
    <div class="auth-footer">
      New user?
      <a routerLink="/register">Register here</a>
    </div>

  </div>
</div>